Package: libbash.sh
Version: 1.0.0
Section: libs
Priority: optional
Architecture: all
Depends: bash
Maintainer: Jean Prunneaux <jean@prunneaux.com>
Homepage: https://github.com/pruje/libbash.sh
Description: Library of useful Bash functions
